<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.frodriguez.biblio" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- For ActiveAndroid -->
        <meta-data android:name="AA_DB_NAME" android:value="biblio.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="3" />
        <meta-data
            android:name="AA_MODELS"
            android:value=".model.Author,
                           .model.Book,
                           .model.Format,
                           .model.Serie,
                           .model.Theme" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".element.book.BookListActivity"/>
        <activity android:name=".element.book.BookViewActivity"/>
        <activity android:name=".element.book.BookEditActivity"/>

        <activity android:name=".author.AuthorListActivity"/>
        <activity android:name=".format.FormatListActivity"/>
        <activity android:name=".serie.SerieListActivity"/>
        <activity android:name=".theme.ThemeListActivity"/>

    </application>

</manifest>
